# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Local environment/Virtual Env
venv/
.venv/
env/

# OS/IDE metadata
.DS_Store
.vscode/

# Large data files (Optional)
# If your heart.csv is very large, uncomment the line below:
# data/*.csv